.background-image {
	background: url("../Images/background.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}


.center	 {
	position:absolute;
	background-color: rgba(96, 125, 139, 0.6);
	border-radius: 25px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #000000; 		
	width: 20%;
    height: 50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	
	display: flex;
	align-items: center;
	justify-content: center
}


.logo
{
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200px;
    width:400px;
    height:100px;
	text-align: center;
	margin-bottom:20px;
  
}


select
{	
	width: 100%;
    padding:3px;
    border-radius:6px;
    background: #f8f8f8;
    color:#888;
}  


input
{
	margin-top: 5px;
	border-radius:4px;
	width: 100%;
}
button
{
	height: 30px;
	color: #ffffff;	
	background-color: #37474F;
	border-radius: 25px;
	margin-top: 5px;
	width: 100%;
}

.popup {
    visibility: hidden;
    animation-fill-mode: forwards; 
    animation-name: popupAnimation;
    animation-duration: 500ms;
}

@keyframes popupAnimation {
    0%   {opacity : 0.1;visibility: hidden;}
    25%  {opacity : 0.3;visibility: visible;}
    50%  {opacity : 0.5;visibility: visible;}
    75%  {opacity : 0.7;visibility: visible;}
    100% {opacity : 1.0;visibility: visible;}    
}
