{
    "extends": "google",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-mixed-spaces-and-tabs": 1,
        "indent": [2, 4],
        "object-curly-spacing": [2, "always"],
        "max-len": [2, 100]
    },
    "plugins": [
        "vue"
    ],
    "env": {
        "browser": true,
        "jquery": true,
    },
    "globals": {
        "Materialize": true
    }
}
